/* @import "style.css"; */

body {
  background-color: rgb(200, 93, 60);
}

#jumboColor {
  /* background-image: url(ViolaBackFoggy.jpg); */
  background-color: rgba(158, 94, 75, 0.5);
}

#result {
  margin-right: auto;
  margin-left: auto;
}

#intro {
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  margin-bottom: 2rem;
}

#initSubmit {
  border-style: solid;
  border-color: red;
  width: 3rem;
  height: 2 rem;
  border-radius: 0.3rem;
}

#start {
  color: white;
}

#start:hover {
  background-color: #dc3545; /* Green */
  color: white;
}

#buttonPlce {
  padding: 20px;
}

.timeEl {
  color: white;
}

#timerStyle {
  /* background-color: white; */
  width: 15%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  background-image: url(ViolaBackFoggyOverlay.jpg);
  height: 120%;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  font-size: 80%;
  opacity: 0.5; /* Firefox */
  text-align: center;
}

h1 {
  font-family: "Bigshot One", cursive;
}
